## IntelliJ files
/.idea
*.iml
/bamboo-specs/.idea
/bamboo-specs/*.iml

## Build outputs
dist/
bundle/
sample/
__reports__/

## Dependencies
node_modules/
*yalc*

## Config files
globalConfig
localConfig

## Testing
junit.xml
.jest-test-results.json
reports/
coverage/

## Storybook
/storybook-static

## IDE
.DS_Store
# Allow .vscode/settings.json for shared editor config
.vscode/*
!.vscode/settings.json

## Logs
*.log

## Vim
*.swp
*.swo

## Environment
.env

## Package managers
yarn.lock
package-lock.json
.pnpm-store/

## Webpack config
config/webpack/microfront/config.js
config/webpack/microfront/config.json

## CLI
/cli/test-output/**/*.*
/bamboo-specs/target

pnpm-lock.yaml
