## IntelliJ files
/.idea
*.iml
/bamboo-specs/.idea
/bamboo-specs/*.iml

/__reports__/**/*.*
junit.xml

/dist
/sample
/__reports__
/node_modules/
/dist/
/bundle/
/junit.xml
/globalConfig
/localConfig
/cli/test-output/**/*.*
/.vscode/
.DS_Store
*.log
/bamboo-specs/target
junit.xml

/config/webpack/microfront/config.js
/config/webpack/microfront/config.json

/package-lock.json
/*yalc*
node_modules/

/storybook-static

/.jest-test-results.json

## vim files
*.swp
*.swo
