@font-face {
  font-family: 'DigitPasswordSmallSquare';
  font-weight: 400;
  src: url('../assets/fonts/DigitPasswordSmallSquare.ttf') format('truetype');
}

@font-face {
  font-family: 'DigitPasswordLargeSquare';
  font-weight: 400;
  src: url('../assets/fonts/DigitPasswordLargeSquare.ttf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Expanded Font';
  font-weight: 700;
  src: url('../fonts/GT-America-Expanded-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Expanded Font';
  font-weight: 400;
  src: url('../fonts/GT-America-Expanded-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Expanded Font';
  font-weight: 300;
  src: url('../fonts/GT-America-ExpandedLight.otf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Extended Font';
  font-weight: 700;
  src: url('../fonts/GT-America-Extended-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Extended Font';
  font-weight: 400;
  src: url('../fonts/GT-America-Extended-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Extended Font';
  font-weight: 300;
  src: url('../fonts/GT-America-Extended-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Mono Font';
  font-weight: 300;
  src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Mono Font';
  font-weight: 500;
  src: url('../fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Mono Font';
  font-weight: 800;
  src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 100;
  src: url('../fonts/NunitoSans_10pt-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 300;
  src: url('../fonts/NunitoSans_10pt-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 400;
  src: url('../fonts/NunitoSans_10pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 700;
  src: url('../fonts/NunitoSans_10pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 800;
  src: url('../fonts/NunitoSans_10pt-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Sans Font';
  font-weight: 900;
  src: url('../fonts/NunitoSans_10pt-Black.ttf') format('truetype');
}
