.kbt-tooltip {
  position: relative;
}

.kbt-tooltip__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  min-height: 1.5rem; /* accessible min-size */
  min-width: 1.5rem; /* accessible min-size */
}

.kbt-tooltip__hover-bridge-container {
  pointer-events: auto;
}

.kbt-tooltip__main-content {
  position: relative;
}

.kbt-tooltip__main-content--mobile {
  width: var(--100dvw, 100vw);
}

.kbt-tooltip__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
